.comment-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.comment-card {
    flex-basis: calc(50% - 10px);
}

@media (max-width: 768px) {
    .comment-row {
        flex-wrap: wrap;
    }

    .comment-card {
        flex-basis: 100%;
    }
}