body{
    margin: 0 auto;
    background-color: #FBE4FF;
}

header{
    background-color: #243B93;
}
.head{
    margin: 0 auto;
    max-width: 1320px;
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 7px;
}

.head ul{
    display: flex;
    list-style-type: none;
    padding-right: 20px;
    margin: 0 auto;
}


.head li a{
    box-sizing: border-box;
    width: 170px;
    height: 38px;
    color: white;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
    font-family: 'PT Sans';
    font-weight: 500;
    font-size: 16px;
    display:flex;
    align-items: center;
}

.house{
    background-color: #BFF0FF;
    text-align: left;
}

.house p{
    margin: 0 auto;
    max-width: 1320px;
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 44px;
    padding-top: 16px;
    padding-bottom: 10px
}

.houses{
    max-width: 1320px;
    text-align: center;
    margin: 0 auto;
    
}

.search{
    background-color: white;
   
}
.search p{
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: 28px;
    color: #0000009C;
    padding-top: 10px;
    padding-bottom: 10px;
}

.house_info{
    box-sizing: border-box;
    display: flex;
    background-image: linear-gradient(90deg,#ADCBD4,#00AEE5);
    margin-bottom: 56px;
    position: relative;
}

.house_info:hover{
    box-shadow: 0px 0px 60px 4px #2CBDEB;
    background: #2CBDEB;
}

.house_info:hover svg path{
    fill: #FFF500;
}

.house_info:hover .info{
    background-color: #EF075B;
}

.house_info img{
    padding: 33px 21px 26px 52px ;

}

.house_nd{
    padding-right: 53px;

}


.house_name{
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 14px;
    margin-bottom: 10px;
    border-bottom: 1px solid white;
    text-align: left;
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
}

.house_descr{
    box-sizing: border-box;
    margin: 0 auto;
    background-color: #EDFBFF;
    text-align: left;
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    padding-top: 13px;
    padding-left: 10px;
    padding-right: 125px;
    padding-bottom: 88px;
}

.house_descr_odessa{
    box-sizing: border-box;
    margin: 0 auto;
    background-color: #EDFBFF;
    text-align: left;
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    padding-top: 13px;
    padding-left: 10px;
    padding-right: 80px;
    padding-bottom: 59px;
}


.star{
    position: absolute;
    right: 10px;
    top: 5px;
}

.info{
    margin: 0 auto;
    position: absolute;
    bottom: 20px;
    right: -30px;

    background-color: #243B93;
    border-radius: 50px;
    padding: 8px 38px 11px 38px;
    text-align: center;
    color: white;
    font-family: 'PT Sans';
    font-size: 20px;
    text-decoration: none;
}

.houses{
    position: relative;
}

.arrow{
    position: absolute;
    bottom: 45px;
    right: -60px;
}
