.circle-one {
    position: relative;
    animation: animationName 15s linear infinite;
}

.circle-three {
    position: relative;
    animation: animationName2 15s linear infinite;

}

.circle-four {
    position: relative;
    animation: animationName3 15s linear infinite;

}

.circle-two {
    position: relative;
    animation: animationName4 15s linear infinite;

}

@keyframes animationName {

    0%{
        transform: translate(0)
    }

    25% {
        transform: translate( 100%, 0)
    }

    50% {
        transform: translate(100%,100%)
    }

    75% {
        transform: translate(0,100%)
    }

    100% {
        transform: translate(0)
    }

}


@keyframes animationName2 {

    0%{
        transform: translate(0)
    }

    25% {
        transform: translate(0,100%)
    }

    50% {
        transform: translate(-100%,100%)
    }

    75% {
        transform: translate(-100%,0)
    }

    100% {
        transform: translate(0)
    }

}

@keyframes animationName3 {

    0%{
        transform: translate(0)
    }

    25% {
        transform: translate( -100%, 0)
    }

    50% {
        transform: translate(-100%,-100%)
    }

    75% {
        transform: translate(0,-100%)
    }

    100% {
        transform: translate(0)
    }

}

@keyframes animationName4 {

    0%{
        transform: translate(0)
    }

    25% {
        transform: translate( 0,-100%)
    }

    50% {
        transform: translate(100%,-100%)
    }

    75% {
        transform: translate(100%,0)
    }

    100% {
        transform: translate(0)
    }
}

.picture-left{
    position: relative;
    animation: slideIn 2s forwards;
}


@keyframes slideIn {
  0% {
    transform: translateX(-700px);
  }
  100% {
    transform: translateX(0);
  }
}

.picture-right{
    position: relative;
    animation: slideIn2 2s forwards;
}


@keyframes slideIn2 {
    0% {
      transform: translateX(700px);
    }
    100% {
      transform: translateX(0);
    }
  }

  .center1{
    position: relative;
    animation: slideIn3 1s forwards;
  }

  .center2{
    position: relative;
    animation: slideIn4 1s forwards;
  }

  @keyframes slideIn3 {
    0% {
      transform: translateX(-1500px);
    }
    100% {
      transform: translateX(0);
    }
  }


  @keyframes slideIn4 {
    0% {
      transform: translateX(1500px);
    }
    100% {
      transform: translateX(0);
    }
  }


  @media screen and (max-width:768px) {
    .center1{
        position: relative;
        animation: slideIn3 2s forwards;
      }
    
      .center2{
        position: relative;
        animation: slideIn4 2s forwards;
      }
    @keyframes slideIn3 {
        0% {
          transform: translateX(1500px);
        }
        100% {
          transform: translateX(0);
        }
      }
      @keyframes slideIn4 {
        0% {
          transform: translateX(-1500px);
        }
        100% {
          transform: translateX(0);
        }
      }
  }
  


 
