@import url('https://fonts.googleapis.com/css2?family=Rosario&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov&display=swap');


.wrapper{
    
}
.content-wrapper{
    max-width: 1620px;
    margin: auto;
    overflow: hidden;
}



header {
    background-color: black;
    position: sticky;
    top: 0px;
    z-index: 5;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    max-width: 1620px;
    height: 12vh;
    margin: auto;
}

.logo {
    background-color: #FFFBFB;
}

.nav {
    width: 55%;
    margin-right: 16px;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

.nav li {
    list-style-type: none;
    align-self: center;
}

.nav a {
    text-decoration: none;
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    font-size: 2.25rem;
    color: #FFFCFC;
}

.screen-one,
.screen-two,
.screen-three,
.footer {
    margin: 0 auto;
    height: 88vh;
    scroll-margin-top: 12vh;
}

.screen-one {
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}

.screen-one img,
.screen-two img,
.screen-three img {
    width: 100%;
}


.picture-center img {
    box-sizing: border-box;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.picture-right{
    box-sizing: border-box;
    padding-right: 20px;
}

.picture-left{
    box-sizing: border-box;
    padding-left: 20px;
}

.screen-two {
    display: flex;
    justify-content: space-between;
}


.picture-discr {
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 600;
    font-size: 2.5rem;
}

.circle-one,
.circle-four,
.circle-two,
.circle-three {
    box-sizing: border-box;
    text-align: center;
    padding: 25px 20px ;
}

.picture-circles {
    display: flex;
    width: 50%;
    align-items: center;
}

.picture-font {
    display: flex;
    width: 50%;
    overflow: hidden;
    height: 100%;
}

.team-descr {
    font-family: 'Rosario';
    font-weight: 700;
    font-size: 6rem;
    text-align: center;
    color: #000000;
    margin-top: 50px;
    margin-bottom: 70px;

}

.team-photo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.contactus {
    display: flex;
    justify-content: space-around;

}

.socials {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social1 {
    font-family: 'Rosario';
    font-weight: 700;
    font-size: 1.875rem;
    text-align: center;
    color: #000000;
    width: 30%;
}

.social2 {
    font-family: 'Rosario';
    font-weight: 700;
    font-size: 2.25rem;
    text-align: center;
    color: #000000;
    width: 31%;
}

.social2>p:first-of-type {
    margin-bottom: 30px;

}

.social3 {
    font-family: 'Rosario';
    font-weight: 700;
    font-size: 1.875rem;
    text-align: center;
    color: #000000;
    width: 15%;
}

.socials p {
    margin: 0;
}

.getm {
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    font-size: 4rem;
    text-align: center;
    color: #000000;
    margin: 0;
    max-width: 75%;
    margin-bottom: 37px;
}

.contacform{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.contactmap{
    align-self: center;
    margin: 0 20px;
}

.contacform form {
    background-color: #E5E5E5;
    width: 82%;
    padding: 35px 28px 25px 29px;
    box-sizing: border-box;

}

.contacform textarea {
    width: 99%;
    margin-top: 43px;
    font-family: 'Rosario';
    font-weight: 700;
    font-size: 2.25rem;
    color: rgba(0, 0, 0, 0.5);
}

.inputs input {
    font-family: 'Rosario';
    font-weight: 700;
    font-size: 2.25rem;
    color: rgba(0, 0, 0, 0.5);
    padding-top: 18px;
    padding-bottom: 18px;
    box-sizing: border-box;
}

.inputs input:first-of-type {
    width: 40%;
    margin-right: 50px;
}

.inputs input:last-of-type {
    width: 50%;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.c-o-t p,
.c-t-f p {
    margin: 0;
}

.social3 a {
    text-decoration: none;
    color: #000000;
}

iframe {
    display: block;
    max-width: 100%;
    height: 56vh;
}

.team-photo:hover img {
    filter: brightness(40%)
}

.photo1:hover img,
.photo2:hover img,
.photo3:hover img,
.photo4:hover img {
    filter: brightness(100%);
}

.photo1:hover .photo-name {
    opacity: 1;
    transition: 1s;
}

.photo2:hover .photo-name {
    opacity: 1;
    transition: 1s;
}

.photo3:hover .photo-name {
    opacity: 1;
    transition: 1s;
}


.photo4:hover .photo-name {
    opacity: 1;
    transition: 1s;
}

.photo1,
.photo2,
.photo3,
.photo4 {
    position: relative;
    margin: 0 20px;

}

.photo-name {
    position: absolute;
    bottom: 0;
    opacity: 0;
    font-family: 'Volkhov';
    font-weight: 400;
    font-size: 48px;
    text-align: center;
    color: #FFFAFA;
    background: rgba(163, 83, 10, 0.7);
    transition: 1s;
    width: 100%;
    border-radius: 0 0 40px 40px;
    padding: 50px 0;

}

.team-photo img {
    vertical-align: bottom;
}

.header img{
    width: 100%;
    height: 100%;
}


@media screen  and (max-width:1370px){
    .nav a{
        font-size: 1.6rem;
    }

    .screen-one,.screen-two,.screen-three,.footer{
        height: auto;
    }

    .picture-discr{
        font-size: 1.7rem;
    }

    .getm {
        font-size: 3rem;
    }

    .contactus{
        margin-top: 15px;
    }

    .inputs input:first-of-type{
        margin-right: 10px;
    }

    .contacform form{
        width: 80%;
    }

}
@media screen  and (max-width:992px){

    .logo img{
        width: 100%;
        height: 100%;
    }
    .header{
        height: 10vh;
    }
    .screen-one,.screen-two,.screen-three,.footer{
        height: auto;
    }
    .nav a{
        font-size: 1.2rem;
    }

    .team-photo,.screen-one{
        flex-wrap: wrap;
    }

    .team-photo>div{
        margin-bottom: 20px;
     }
     .team-descr{
        font-size: 4rem;
    }
    .screen-two{
        flex-direction: column-reverse;
    }

    .picture-circles,.picture-font{
        width: 100%;
    }

    .contactus{
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .contacform{
        width: 100%;
        margin-bottom: 20px;
    }

    .inputs input:first-of-type{
        width: 45%;
    }

    .inputs input:last-of-type{
        width: 45%;
    }

    .socials{
        flex-direction: column;
    }

    .social1,.social2,.social3{
        width: 65%;
        padding-bottom: 25px;
    }

.screen-one{
    margin-top: 15px;
}

}

@media screen and (max-width: 768px) {
    .header{
        height: 8vh;
    }
    
    .screen-one,.team-photo{
        flex-direction: column;
    }

    .contactus{
        flex-direction: column-reverse;
    }
    
    .nav a{
        font-size: 1rem;
    }

    .picture-font{
        display: none;
    }

    .picture-circles{
        width: 100%;
    }

    .social1,.social2,.social3{
        width: 80%;
    }

}


@media screen and (max-height: 920px) {
 .screen-two img{
    width: 80%;
    height: 80%;
 }
}