@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');



input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

body {
    background-color: #F9F9F9;

}


hr {
    margin-bottom: 32px;
}

form input,
form select {
    box-sizing: border-box;
    border-radius: 4px;
    width: 392px;
    height: 40px;
    border: 2px solid black;
}

.wrapper {
    margin: 0 auto;
    max-width: 55%;
}

.intake-main {
    font-family: 'Public Sans';
    font-weight: 700;
    font-size: 24px;
    color: #171717;
    margin-top: 64px;
    margin-bottom: 79px;

}

.mandatory {
    font-family: 'Public Sans';
    font-weight: 400;
    font-size: 12px;
}

.redstar {
    color: #D83933;
}

.info {
    font-family: 'Public Sans';
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 32px;

}

.form1 {
    display: flex;
    justify-content: space-between;
}


.reg-form {
    display: flex;
    flex-direction: column;
}

.login-inputs {
    display: flex;
    flex-direction: column;
}

.login-inputs>label {
    font-family: 'Public Sans';
    font-weight: 600;
    font-size: 16px;
    color: #171717;
}

.login-inputs>input,
.login-inputs>select {
    margin-top: 8px;
}


.login-inputs2 {
    display: flex;
    flex-direction: row;

}

.login-inputs2>input {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    margin-top: 0;
}

.purged2 {
    margin-top: 113px;
    margin-bottom: 43px;
}

.login-inputs2>label {
    align-self: center;
}

select {
    font-family: 'Public Sans';
    font-weight: 400;
    font-size: 16px;
    color: #171717;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url(../img/arrow.svg);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    padding: 0.5rem;
}

.next-button input {
    font-family: 'Public Sans';
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    background-color: #0050D8;
    width: 70px;
    height: 40px;
    border: none

}

.next-button {
    text-align: right;
}

.hr-last {
    margin-bottom: 16px;
}

input[type="search"] {
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-position: 362px;
    font-family: 'Public Sans';
    font-weight: 500;
    font-size: 16px;
    color: #171717;
}

input[id="owner4"] {
    color: #0050D8;
}

input[id="af"] {
    accent-color: #FF00FF;
}

select[id="ar"] {
    color: #0050D8;
}

.date-center input {
    text-align: center;
    font-family: 'Public Sans';
    font-weight: 500;
    font-size: 16px;
}

.number13 {
    font-family: 'Public Sans';
    font-weight: 500;
    font-size: 16px;
}

