 @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');



 body {
     background-color: #001124;
 }

 .login {
     margin-top: 190px;
     display: flex;

 }


 .image img {
     width: 100%;
 }

 .login-form {
     display: flex;
     flex-direction: column;
     margin-left: 119px;
 }

 .login-inputs {
     display: flex;
     flex-direction: column;

 }

 .login-text {
     color: white;
     font-family: 'DM Serif Display';
     font-weight: 400;
     font-size: 45px;
 }

 .login-inputs>label {
     font-family: 'Padauk';
     font-weight: 400;
     font-size: 20px;
     color: white;
 }

 .login-inputs>input {
     width: 361px;
     height: 43px;
 }

 .form2 {
     color: #499FFE;
     text-decoration: none;
     font-family: 'Padauk';
     font-weight: 400;
     font-size: 20px;
 }

 .registernow {
     color: white;
     text-decoration: none;
     font-family: 'Padauk';
     font-weight: 400;
     font-size: 20px;
     margin: 0;
    margin-bottom: 22px;
 }

 .registernow a {
     color: #499FFE;
     text-decoration: none
     ;
 }

 .login-button {
     background-color: #015FC7;
     padding: 11px 55px 3px 55px;
     color: white;
     cursor: pointer;
     font-family: 'Padauk';
     font-weight: 500;
     font-size: 20px;
 }


 .login2{
    margin-top: 115px;
 }

 .registration{
    margin-top: 0;
    margin-bottom: 38px;
 }

 .image2{
    margin-left: 143px;
    margin-right: 230px;
 }

 .login-form2{
    margin: 0;
 }

 .login-form2 .login-button{
    margin-top: 30px;
 }

 .button2{
    margin: 0;
    text-align: center;
 }