@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap');

html{
    --Karla:'Karla', sans-serif;
    --black: black;
}

body * { 
    box-sizing: border-box;
    background-color: white;
}

header, footer{
    font-family: var(--Karla);
}

header{
    box-shadow:  -2px 0px 8px 2px rgba(0, 0, 0, 0.1);
}

.container{
    width: 80%;
    margin: 0 auto;
}

.header{
    display: flex;
    min-height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
}

body, .header ul{
    margin: 0;
    padding: 0 ;
}
a {
    text-decoration: none;
    color: var(--black);
}

ul{
    list-style: none;
    display: flex;
    gap: 25px;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.banner{
    padding: 16px;
}

.search input{
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    width: 500px;
    padding: 1rem;
    padding-left: 3rem;
    background-image: url("../img/icon.svg");
    background-repeat: no-repeat;
    background-position: 16px center;
}

.cards{
    display: flex;
    gap: 1rem;
    padding: 65px 0;
}

.card{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 120px;
    border-radius: 4px;
    background-color:#FAFAFA ; 
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
}

@media (max-width: 600px){
    .container{
        width: 100%;
    }
}