@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #212529;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    padding-top: 25px;

}

.menu {
    flex-basis: 430px;
    display: flex;
    list-style-type: none;
    justify-content: space-around;

}

.menu li a {
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    color: white;
}

.menu li a:hover {
    color: #FFB742;
}

.button {
    text-decoration: none;
    background-color: #FFB742;
    border-radius: 25px;
    color: #212529;
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 18px;
    padding: 12px 26px;
}

.person {
    margin-top: 100px;
}

.info {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 130px;
}

.name {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 32px;
    color: white;
    margin-bottom: 25px;
}

.kartik {
    color: #FFB742;
    text-decoration: underline;
}

.job {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 48px;
    color: white;
    margin-bottom: 45px;
}

.about {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
}

.experiences {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 70px;
}

.years,
.projects,
.clients {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #292B2E;
    border-radius: 10px;
    text-align: center;
    width: 415px;
    padding: 25px 0;
}

.number {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 32px;
    color: #FFB742;
    margin-bottom: 10px;
}

.text {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 12px;
    color: white;
}


.years:hover,
.projects:hover,
.clients:hover {
    background-image: linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);
}

.years:hover .text,
.projects:hover .text,
.clients:hover .text {
    color: #212529;
}

.years:hover .number,
.projects:hover .number,
.clients:hover .number {
    color: #212529;
}

.aboutme {
    display: flex;
    flex-direction: column;
    margin-top: 220px;
}

.aboutme_info {
    display: flex;
    justify-content: space-around;
}

.info_about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 670px;
}

.who {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    color: #FFB742;
    background-color: #FFFFFF14;
    border-radius: 25px;
    padding: 6px 25px;
}

.hi {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #D5D5D5;
    margin-bottom: 50px;
    margin-top: 30px;

}

.me {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 48px;
    color: white;
}

.b2 {
    padding: 12px 39px;
}

.skills {
    display: flex;
    justify-content: space-around;
}

.prog {
    width: 500px;
}

.program_skills td {
    background-color: #383E45;
    border-radius: 10px;
    width: 80px;
    height: 80px;
    text-align: center;
}

.program_skills td:hover{
    background-color: rgba(255, 183, 66, 0.5);;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.program_skills {
    border-spacing: 16px;
}

.works {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.m2 {
    margin-top: 35px;
    width: 650px;
    flex-basis: 0px;
}


.m2 li a:hover {
    color: #212529;
    background-color: #FFB742;
    border-radius: 5px;
    padding: 5px 20px
}

.myworks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.primer {
    width: 1230px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 53px;
}

.primer1 img,
.primer2 img,
.primer3 img {
    padding: 15px;
}


.comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 135px;
    margin-bottom: 255px;
}

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.says {
    width: 1230px;
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}

.comment1 {
    box-sizing: border-box;
    width: 380px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-around;
    border-radius: 8px;
    background-color: white;
    padding: 50px 50px 50px 33px;
}

.says_text {
    font-family: 'Poppins';
    color: black;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.says_info {
    display: flex;

}

.kushi {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
}

.designer {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
}

.kushides {
    padding-left: 25px;
}

.footer {
    background-color: #1C1C1C;
    display: flex;
    justify-content: space-around;
    padding-top: 150px;
    padding-bottom: 90px;

}

.footername {
    display: flex;
    flex-direction: column;
}

.namekartik {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 32px;
    color: #FFB742;
    margin-bottom: 10px;
}

.namejob {
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: #D4D4D4;
}


.sociallinks {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.socialmedia {
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 20px;
    color: #F5FBF2;
    margin-bottom: 15px;
}

.sociallinks li a {
    text-decoration: none;
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 15px;
    color: #7B7B7B;
}

.sociallinks li:not(:last-child) {
    margin-bottom: 15px;
}

.news {
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 20px;
    color: #F5FBF2;
}

.newstext {
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    color: #7B7B7B;
}

.footer_news{
    flex-basis: 320px;
}

.footer_name{
    flex-basis: 255px;
}


.sociallinks li a:hover {
    color: #FFB742;
}
