@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');

body {
    margin: 0 auto;
    max-width: 1465px;
}

.header p,
.footer p {
    margin: 0 auto;
    padding-top: 25px;
    text-align: center;
    font-family: 'M PLUS 1';
    font-size: 48px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.strong {
    color: #3E45E8;
}

.ukraine {
    color: #E8C23E;
}

.ukraine2 {
    color: #DFE31E;
}

.text {
    box-sizing: border-box;
    background-image: url(../img/flag2.png), url(../img/flag.png);
    background-size: none, cover;
    background-position: 80px 239px, 0px;
    background-repeat: no-repeat;
    padding-top: 225px;
    padding-bottom: 236px;
    padding-left: 141px;
    padding-right: 263px;
}

.text p {
    margin: 0 auto;
    text-align: left;
    font-family: 'Pacifico';
    font-size: 40px;
    font-weight: 600;
    line-height: 200%;
    color: white;
}


.text2 {
    font-family: 'Pacifico';
    font-weight: 700;
    font-size: 35px;
    margin: 45px 0 6px;
}

.blue {
    background-color: #1400FF;
    height: 7px;
    max-width: 600px;
    margin-left: 430px;
    margin-right: 430px;
}

.text_blue {
    margin: 0 auto;
}

.map {
    text-align: center;
    margin-top: 32px;
}

.mapt {
    text-align: center;

}

.places {
    text-align: center;
}

.footer {
    text-align: center;
    background-image: linear-gradient(#013235, #0D0661);
}

.footer a {
    display: block;
}

.social a {
    display: inline-block;
    margin-bottom: 30px;
    padding: 5px 15px;
}

.tustan,
.lutsk,
.grave {
    box-sizing: border-box;
    display: inline-block;
    border: 5px solid #0D095F;
    border-radius: 35px;
    height: 480px;
    margin-top: 42px;
}

.lutsk {
    margin: 0 65px;
    box-shadow: 0px 20px 35px rgba(0, 209, 255, 0.35);
}

.tustan {
    box-shadow: -15px 20px 35px rgba(0, 209, 255, 0.35);
}

.grave {
    box-shadow: 15px 20px 35px rgba(0, 209, 255, 0.35);
}

.tustan_name,
.lutsk_name,
.grave_name {
    font-family: 'Pacifico';
    font-weight: 700;
    font-size: 24px;
    color: #0072DB;
    text-align: left;
    padding-left: 10px;
    margin: 0;

}

.tustan_descr,
.lutsk_descr,
.grave_descr {
    font-family: 'Pacifico';
    font-weight: 400;
    font-size: 20px;
    line-height: 157.3%;
    color: #FF9900;
    text-align: left;
    padding-left: 10px;
    margin: 0;
}



.go_button {
    margin: 0 auto;
    max-width: 500px;
    background-color: #2A61F0;
    border-radius: 50px;
    margin-bottom: 36px;
    margin-top: 23px;
}

.go_button a {
    font-family: 'Inika';
    font-weight: 700;
    font-size: 64px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}


.email,
.phone {
    color: #A89D9D;
    font-family: Marcellus SC;
    font-size: 36px;
    font-weight: 400;
    text-decoration: none;
}

.textgrad {
    text-align: left;
}