@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.header {

    background-color: #F8F9FA;
}

nav a,
button {
    font-family: 'Roboto';
}

.navbar>.container-fluid {
    width: 80%;
}

.nav-link {
    color: #000000E5;
}

.carousel-item {
    background-color: #212529;
    height: 30vh;
}

.carousel-caption {
    bottom: 25%;
}

.carousel-caption h5 {
    font-family: 'Roboto';

    font-weight: 700;
    font-size: 56px;

}

.carousel-caption p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
}

.footer {
    background-color: #212529;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding: 47px 0;
    margin: 0;
}

.card-body {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    color: #212529;
}

.price-line {
    text-decoration: line-through;
    color: #6C757D;
}

.sale {
    top: 4px;
    right: 4px;
    position: absolute;
}