body{
    margin: 0 auto;
}

.cont{
    background-color: #F0FFF0;    
}

.cont_2{
    background-color: black;
    max-width: 404px;
    min-height: 490px;
    margin: 0 auto;
}

.image{
    padding-top: 13px;
    text-align: center;
}

.image svg{
    padding-right: 10px;

}

.welcome{
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 29px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.39em;
    color: white;

    margin-top: 26px;
    margin-bottom: 42px;
}

.log_In ,
.sign_Up{
    text-align: center;
    border: 4px solid white;
    margin: 0 auto;
    max-width: 300px;
    max-height: 50px;

    padding: 10px 0;
}

.log_In{
    margin-bottom: 26px;
}

.log_In a,
.sign_Up a{
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 19px;
    line-height: 23px;
    letter-spacing: 0.12em;
    font-variant: small-caps;
    text-decoration: none;
    text-transform: uppercase;
}

